@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

/* Nueva barra de desplazamiento oscura y elegante */
.custom-scrollbar::-webkit-scrollbar {
  height: 6px; /* Barra delgadita */
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #1a1d24; /* El color de fondo de tus botones */
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #4b5563; /* Gris oscuro para el indicador */
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9ca3af; /* Brilla a plata cuando pasas el mouse */
}